<!-- /musicapp/playlist.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playlist</title>
    <link rel="stylesheet" href="../css/playlist.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<br>
<div class="container">

    <header class="section-heading">
        <h3 class="section-title">All Playlists</h3>
    </header>
    <hr>

    <!-- Список плейлистов -->
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="playlist_songs.html">
                    <img src="images/bg.jpg" class="img-responsive" height="200" width="200">
                </a>
                <center>
                    <h4 style="margin-left:-50px">My Playlist</h4>
                </center>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <a href="playlist_songs.html">
                    <img src="images/bg.jpg" class="img-responsive" height="200" width="200">
                </a>
                <center>
                    <h4 style="margin-left:-50px">Workout Jams</h4>
                </center>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <a href="playlist_songs.html">
                    <img src="images/bg.jpg" class="img-responsive" height="200" width="200">
                </a>
                <center>
                    <h4 style="margin-left:-50px">Chill Vibes</h4>
                </center>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <a href="playlist_songs.html">
                    <img src="images/bg.jpg" class="img-responsive" height="200" width="200">
                </a>
                <center>
                    <h4 style="margin-left:-50px">Party Mix</h4>
                </center>
            </div>
        </div>
    </div>

</div>

</body>
</html>
